io:
  # Input HFET hd5 files, one file per fill
  # Expected path: /cephfs/brilshare/alshevel/hf_origin/hfet/25/<fill>/<fill>_*.hd5
  input_dir: "/cephfs/brilshare/alshevel/hf_origin/hfet/25"
  beam_dir:  "/eos/cms/store/group/dpg_bril/comm_bril/2025/physics"
  input_pattern: "{fill}/{fill}_*.hd5"

  # Output files, to avoid overwriting the old version
  # Resulting path: /cephfs/brilshare/alshevel/hf_reprocessed/hfet/25_test/<fill>/<fill>.hd5
  output_dir: "/eos/user/l/leeja/HF/data_hfpipe"
  output_pattern: "{fill}/{fill}.hd5"

  # HDF5 node / key with the HFET table
  node: "hfetlumi"

  # Precomputed active BX mask (shape=(3564,), dtype=int)
  # Can be produced once from the beam hd5
  active_mask_pattern: "/cephfs/brilshare/alshevel/hf_masks/activeBXMask_fill{fill}.npy"

  # Directory where Type-1 diagnostic plots (etc.) are stored
  type1_dir: "/eos/user/l/leeja/HF/plots_hfpipe"

steps:
  restore_rates: true
  compute_type1: false
  apply_type1: false

online_recovery:
  enabled: true          # включить/выключить шаг восстановления bxraw
  method: "online"       # "online" или "tables"
  debug_compare: false   # если true и есть таблицы — посчитаем оба метода и сравним

  pedestal_node: "hfEtPedestal"
  afterglow_node: "hfafterglowfrac"

afterglow:

  # BX indices to hard-clean (mu_true = 0) – analogue of BX_TO_CLEAN
  bx_to_clean: [3488, 3489, 3490, 3491, 3553, 3554, 3555, 3556, 3557]
  
  hfsbr_pattern: "/eos/home-a/alshevel/hfpipe/input/afterglow/hfet_lsq_test.txt"
  hfsbr_online_pattern: "/eos/home-a/alshevel/hfpipe/input/afterglow/hfet_lsq_test.txt"
  # Regularization strengths for the LSQ inversion
  lambda_reg: 0.01
  lambda_nonactive: 0.05
  
  n_jobs: 16

  # From your note: sigvis = 3170.19
  # Conversion example: bx = bxraw * 11245.6 / sigvis
  sigvis: 3170.19

type1:
  # Offsets (in BX) between the main bunch and the tail to be fitted
  offsets: [3, 4]

  # Minimum SBIL for including a point in the Type-1 fit
  sbil_min: 0.1

  # Whether to produce Type-1 summary plots
  make_plots: true

  debug: true             # draw "before" Type-1 plots directly in compute_type1_step
  debug_after_apply: true # draw "after" Type-1 plots in apply_type1_step

  # Do not store heavy intermediate type1_{offset}.h5 files
  save_hd5: false

fills:
  # For testing: run over a single fill. Later this can be replaced by a list of stable fills.
  - 11164
